*.dump
*.hex
*.map
*.d
*.elf
*.o
mem.hex

toolchain/build/
toolchain/lib/
toolchain/rv32im/

benchmark/coremark/LICENSE.md
benchmark/coremark/Makefile
benchmark/coremark/README.md
benchmark/coremark/barebones/
benchmark/coremark/cygwin/
benchmark/coremark/docs/
benchmark/coremark/linux/
benchmark/coremark/linux64/
benchmark/coremark/simple/
